@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
    font-family: 'poppins', 'sans-serif';
}

.box {
    width: 50%;
    margin: 100px auto;

}

.box h1 {
    font-size: 25px;
    color: ;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: ;
    font-weight: 600;
}

.btn {
    background: #ffff;
    color: #222;
    font-weight: 400;
    width: 100%;
    border: 1px solid#2222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}

#next-btn {
    color: #fff;
    background-color: rgb(2, 2, 54);
    text-decoration: none;
    font-size: 15px;
    padding: 7px 18px;
    text-transform: uppercase;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: 500;

}

.correct {
    background: green;

}

.incorrect {
    background: red;
}